
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/style/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/style/bannerList.css" type="text/css" />
    @RenderSection("style", false)
</head>
<body>

    <header class="g-header">
        <div class="nav-bar">
            <nav class="g-nav" id="topNav">
                <div class="g-row">
                    <p class="declare f-fz12">好生活，听得见</p>
                    <div class="right">
                        <a href="login.html" class="login">登录</a>
                        <a href="" class="register">注册</a>
                        <div class="split"></div>
                        <a href="" class="attitude">优选态度</a>
                        <div class="split"></div>
                        <a href="" class="attitude">企业采购</a>
                        <div class="split"></div>
                        <a href="" class="custmService">客户服务</a>
                        <div class="split"></div>
                        <a href="" class="download">下载APP</a>
                    </div>
                    <div id="js-funcTabWrap" style="height: 204px;">
                        <a class="tab-logo" href="/" title="回音优选" target="_top"></a>
                        <div class="tab-inner">
                            <ul class="tab-nav">


                                @{

                                    var categories = ViewData["Categories"] as List<EchoShop.Model.T_Category>;

                                    if (categories.Count > 0)
                                    {
                                        foreach (var item in categories)
                                        {
                                            if (item.F_ParentId == 0)
                                            {
                                                var childCates = categories.Where(c => c.F_ParentId == item.F_Id).ToList();
                                                <li class="nav-item">
                                                    @Html.ActionLink(item.F_CategoryName, "list", "item", new { id = item.F_Id }, new { @class = "topLevel" })

                                                    @if (childCates.Count > 0)
                                                    {
                                                        <div class="nav-down">
                                                            <div class="nav-cateCard">
                                                                <ul class="card-list">
                                                                    @foreach (var childItem in childCates)
                                                                    {
                                                                        <li class="item">
                                                                            <a href="/item/list/@childItem.F_Id">
                                                                                <span class="item-icon"></span>
                                                                                @childItem.F_CategoryName
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    }
                                                </li>
                                            }
                                        }
                                    }
                                }



                                @*<li class="nav-item first active">
                                        <a href="" class="topLevel">首页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="topLevel">居家</a>
                                        <div class="nav-down">
                                            <div class="nav-cateCard">
                                                <ul class="card-list">
                                                    <li class="item">
                                                        <a href="">
                                                            <span class="item-icon"></span>
                                                            夏凉
                                                        </a>
                                                    </li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="" class="topLevel">餐厨</a></li>
                                    <li class="nav-item"><a href="" class="topLevel">配件</a></li>
                                    <li class="nav-item"><a href="" class="topLevel">服装</a></li>
                                    <li class="nav-item">
                                        <a href="" class="topLevel">洗护</a>
                                        <div class="nav-down">
                                            <div class="nav-cateCard">
                                                <ul class="card-list">
                                                    <li class="item">
                                                        <a href="">
                                                            <span class="item-icon"></span>
                                                            夏凉
                                                        </a>
                                                    </li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                    <li class="item"><a href="">夏凉</a></li>
                                                    <li class="item"><a href="">被枕</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="" class="topLevel">婴童</a></li>
                                    <li class="nav-item"><a href="" class="topLevel">杂货</a></li>
                                    <li class="nav-item"><a href="" class="topLevel">饮食</a></li>
                                    <li class="nav-item"><a href="" class="topLevel">志趣</a></li>*@


                            </ul>

                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <div class="fixed-nav">
            <div class="g-row">

                <ul class="tab-nav">
                    <a class="tab-logo-fixed" href="/" title="回音优选" target="_top"></a>
                    @{
                        if (categories.Count > 0)
                        {
                            foreach (var item in categories)
                            {
                                if (item.F_ParentId == 0)
                                {
                                    var childCates = categories.Where(c => c.F_ParentId == item.F_Id).ToList();
                                    <li class="nav-item">
                                        @Html.ActionLink(item.F_CategoryName, "list", "item", new { id = item.F_Id }, new { @class = "topLevel" })

                                        @if (childCates.Count > 0)
                                        {
                                            <div class="nav-down">
                                                <div class="nav-cateCard">
                                                    <ul class="card-list">
                                                        @foreach (var childItem in childCates)
                                                        {
                                                            <li class="item">
                                                                <a href="/item/list/@childItem.F_Id">
                                                                    <span class="item-icon"></span>
                                                                    @childItem.F_CategoryName
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </li>
                                }
                            }
                        }
                    }

                    @*<li class="nav-item first active">
                            <a href="" class="topLevel">首页</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="topLevel">居家</a>
                            <div class="nav-down">
                                <div class="nav-cateCard">
                                    <ul class="card-list">
                                        <li class="item">
                                            <a href="">
                                                <span class="item-icon"></span>
                                                夏凉
                                            </a>
                                        </li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item"><a href="" class="topLevel">餐厨</a></li>
                        <li class="nav-item"><a href="" class="topLevel">配件</a></li>
                        <li class="nav-item"><a href="" class="topLevel">服装</a></li>
                        <li class="nav-item">
                            <a href="" class="topLevel">洗护</a>
                            <div class="nav-down">
                                <div class="nav-cateCard">
                                    <ul class="card-list">
                                        <li class="item">
                                            <a href="">
                                                <span class="item-icon"></span>
                                                夏凉
                                            </a>
                                        </li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                        <li class="item"><a href="">夏凉</a></li>
                                        <li class="item"><a href="">被枕</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item"><a href="" class="topLevel">婴童</a></li>
                        <li class="nav-item"><a href="" class="topLevel">杂货</a></li>
                        <li class="nav-item"><a href="" class="topLevel">饮食</a></li>
                        <li class="nav-item"><a href="" class="topLevel">志趣</a></li>*@
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="g-footer">
        <div class="m-f2">
            <div class="g-row">
                <ul class="m-siteEnsure">
                    <li class="item">
                        <div class="inner">
                            <i class="footer-icon"></i>
                            <p>30天无忧退货</p>
                        </div>

                    </li>
                    <li class="item">
                        <div class="inner">
                            <i></i>
                            <p>满88元免邮费</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <i></i>
                            <p>网易品质保证</p>
                        </div>
                    </li>
                </ul>
                <hr class="footer-line" />
                <div class="m-siteInfo">
                    <nav class="footer-nav">
                        <a class="text" href="http://you.163.com/attitude">关于我们</a>
                        <b class="split">|</b>
                        <a class="text" href="http://you.163.com/help">帮助中心</a>
                        <b class="split">|</b>
                        <a class="text" href="http://you.163.com/help#policys">售后服务</a>
                        <b class="split">|</b>
                        <a class="text" href="http://you.163.com/help#deliver">配送与验收</a>
                        <b class="split">|</b>
                        <a class="text" href="http://you.163.com/help#business">商务合作</a>
                        <b class="split">|</b>
                        <a class="text" href="http://b.you.163.com?from=yx">企业采购</a>
                        <b class="split">|</b>
                        <a class="text" href="http://you.163.com/friendLink">友情链接</a>
                    </nav>
                    <p class="copyright">回音公司版权所有 © 1997-2017   食品经营许可证：JY**************</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="fixedtoolGoTop" class="goTop active">
        <i class="fixedtool-goTop"></i>
        <p class="text">回顶部</p>
    </div>

    <script type="text/javascript" src="~/Content/script/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/script/base.js"></script>
    <script type="text/javascript" src="~/Content/script/bannerList.js"></script>
    @RenderSection("script", false)
    <script>
        $(function () {
            $($(".tab-nav .nav-item")[0]).addClass("first active");
            $($(".fixed-nav .nav-item")[0]).addClass("first active");
        })
    </script>
</body>
</html>

